*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: black;
    color: white
}
#header{
    width: 100%;
    height: 500px;
   
    
   
}

.container{
    padding: 10px 10%;
    
}

nav{
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
}
.logo{
    color: white;
    text-decoration: none;
    font-size: 50px;
  
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color:  rgb(255, 196, 0);
    text-decoration: none;
    font-size: 25px; 
}

nav ul li a:hover{
    color:  white;
    text-decoration: underline;
    font-size: 25px; 
}


span{
    color:  rgb(255, 196, 0);
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
    
}

.header-text p { 
    margin-bottom: 20px;
}

#About{
    padding: 80px 0;

}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.About-col-1{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
}

.About-sub{
    font-size: 20px;
}


.About-col-2{
    flex-basis: 35%;
}

.About-col-2 img{
    width: 100%;
    border-radius: 15px;
}

#Portfolio{
    padding: 50px 0;
}

.Work-list{
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), rgb(255, 196, 0));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    margin-bottom: 20px;
}
.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid rgb(255, 196, 0);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5s ;
}

.btn:hover{
    background: rgb(255, 196, 0);
}

.Contact-left{
    flex-basis: 35%;
}

.Contact-right{
    flex-basis: 60%;
}

.Contact-left p{
    margin-top: 30px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: rgb(255, 196, 0); 
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: white;
    transform: translateY(-5px);

}

.btn.btn2{
    display: inline-block;
    background: rgb(255, 196, 0);

}
.Contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px;
    color: black;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60 px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    margin-left: 15px;
}
.copy-right{
    width: 100%;
    text-align: center;
    padding: 25px;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

.copy-right i{
    color:rgb(255, 196, 0); 
}

nav .fa-solid{
    display: none;
}

@media screen and (max-with: 600px){
    .header-text{
      margin-top: 100%;
      font-size: 16px;
    }
  
    .header-text h1{
      font-size: 30px;
    }
  
    nav .fa-solid{
      display: block;
      font-size: 25px;
    }

      nav ul{
      background: #262626;
      position: fixed;
      top: 0;
      right: -200px;
      width: 200px;
      height: 100vh;
      padding-top: 50px;
      z-index: 2;
      transition: right 0.5s;
    }
    
    nav ul li{
        display: block;
        margin: 25px;

    }

    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-title{
        font-size: 40px;

    }
    .About-col-1, .About-col-2{
        flex-basis: 100%;
    }

    .About-col-1{
        margin-bottom: 30px;
        font-size: 14px;
    }

    .Contact-left, .Contact-right{
        flex-basis: 100%;
    }

    .copy-right{
        font-size: 14px;
    }
}